<div class="corpoCadastro">
    <mat-card>
        <mat-card-title>
            Configurações
        </mat-card-title>
        <mat-card-content>
            <mat-grid-list [cols]="breakpoint" rowHeight="230px" (window:resize)="onResize($event)">
                <mat-grid-tile>
                    <form style="margin-right: 10px;">
                        <mat-form-field>
                            <input matInput placeholder="Nome" value="" [(ngModel)]="dadosCadastro.primeiro_nome"   name="nome" type="text" maxlength="20" >
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput placeholder="Cpf" value="" [(ngModel)]="dadosCadastro.cpf" name="cpf" [specialCharacters]="[ '-' ]" mask="000000000-00" [disabled]="true">
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput placeholder="Email" value="" [(ngModel)]="dadosCadastro.email" name="email" maxlength="30" [disabled]="true">
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput placeholder="Senha antiga" [(ngModel)]="dadosCadastro.senhaAntiga" id="password" name="password" type="password"  showHideInput >
                        </mat-form-field>
                    </form>
                </mat-grid-tile>
                <mat-grid-tile>
                    <form>
                        <mat-form-field>
                            <input matInput placeholder="Sobrenome" [(ngModel)]="dadosCadastro.sobrenome" value=""  name="sobrenome" maxlength="20" >
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput type="text" placeholder="Telefone" [(ngModel)]="dadosCadastro.telefone" value=""  name="telefone" [specialCharacters]="[ '(' ,')','-',' ']" mask="(00)0000 0000">
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput type="text" placeholder="Celular" value="" [(ngModel)]="dadosCadastro.celular" name="celular" [specialCharacters]="[ '(' ,')','-',' ']" mask="(00)0-0000 0000">
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput showHideInput id="passwordConfirm" [(ngModel)]="dadosCadastro.senha" type="password" placeholder="Senha nova"  name="passwordConfirm" >
                        </mat-form-field>
                    </form>
                </mat-grid-tile>
            </mat-grid-list>
            <mat-card-actions id="centralizaItens">
                <button mat-raised-button color="primary" [disabled]="!dadosCadastro.primeiro_nome  || !dadosCadastro.cpf || !dadosCadastro.email || (!dadosCadastro.telefone && !dadosCadastro.celular)" (click)="EditarCadastro()">Editar</button>
            </mat-card-actions>
            <mat-expansion-panel (opened)="buscaEndereco()">
                <mat-expansion-panel-header>
                  Endereço
                </mat-expansion-panel-header>
                <ng-template matExpansionPanelContent>
                    <div *ngIf="mensagem && cadastro == 0">
                        <mat-card class="cardAlert" style="width: auto;">
                            {{mensagem}}
                        </mat-card>  
                        <div style="text-align: center;">
                            <button mat-raised-button color="primary" (click)="mostraFormCadastro()">Cadastrar novo endereço</button>
                        </div>
                    </div>
                    <div *ngIf="cadastro == 1 || dadosBusca == 1">
                        <div style="text-align: right; cursor: pointer;" *ngIf="dadosBusca == 1" title="excluir endereço">
                            <mat-icon aria-hidden="false" aria-label="Example home icon" (click)="excluirEndereco()">delete_forever</mat-icon>
                        </div>
                        <mat-grid-list cols="1" rowHeight="350px" (window:resize)="onResize($event)">
                            <mat-grid-tile>
                                <form style="margin-right: 10px;">
                                    <mat-form-field>
                                        <input matInput placeholder="Cep" [(ngModel)]="dadosEndereco.cep" value=""  name="cep" mask="00000000" (blur)="buscaCep()">
<!--                                         <button mat-button matSuffix mat-icon-button title="Buscar Cep" (click)="buscaCep()">
                                            <mat-icon>search</mat-icon>
                                        </button> -->
                                    </mat-form-field>
                                    <mat-form-field>
                                        <input matInput type="text" placeholder="Cidade" value="" [(ngModel)]="dadosEndereco.cidade" name="cidade" [disabled]="true">
                                    </mat-form-field>
                                    <mat-form-field>
                                        <input matInput placeholder="Rua" value="" [(ngModel)]="dadosEndereco.rua" name="rua" [disabled]="true">
                                    </mat-form-field>
                                    <mat-form-field>
                                        <input matInput placeholder="Bairro" value="" [(ngModel)]="dadosEndereco.bairro" name="bairro" [disabled]="true">
                                    </mat-form-field>
                                    <mat-form-field>
                                        <input matInput type="number" placeholder="Número" value="" [(ngModel)]="dadosEndereco.numero" name="numero" maxlength="10">
                                    </mat-form-field>
                                    <mat-form-field >
                                        <mat-label>Complemento</mat-label>
                                        <mat-select [(value)]="dadosEndereco.complemento">
                                            <mat-option>Selecione</mat-option>
                                            <mat-option value="Casa">Casa</mat-option>
                                            <mat-option value="Apartamento">Apartamento</mat-option>
                                        </mat-select>  
                                    </mat-form-field>
                                </form>
                            </mat-grid-tile>
                        </mat-grid-list>
                        <mat-card-actions id="centralizaItens">
                            <button *ngIf="cadastro == 1" mat-raised-button color="primary" [disabled]="!dadosEndereco.email  || !dadosEndereco.rua || !dadosEndereco.numero || !dadosEndereco.complemento || !dadosEndereco.cep || !dadosEndereco.cidade" (click)="cadastrar()">Cadastrar</button>
                            <button *ngIf="dadosBusca == 1" mat-raised-button color="primary" [disabled]="!dadosEndereco.email  || !dadosEndereco.rua || !dadosEndereco.numero || !dadosEndereco.complemento || !dadosEndereco.cep || !dadosEndereco.cidade" (click)="editarEndereco()">Editar</button>
                        </mat-card-actions>
                    </div>
                </ng-template>
            </mat-expansion-panel>
        </mat-card-content>
<!--         <mat-card-footer id="centralizaItens" style="margin-bottom: 0px;">
            <button mat-raised-button color="primary" [disabled]="!dadosCadastro.primeiro_nome  || !dadosCadastro.cpf || !dadosCadastro.email || !dadosCadastro.senhaAntiga || !dadosCadastro.senha || (!dadosCadastro.telefone && !dadosCadastro.celular)" (click)="EditarCadastro()">Editar</button>
        </mat-card-footer>  -->
    </mat-card>
</div>